/*
== Colour Guide ==
http://colorbrewer2.org/

Light - Detached Homes
Medium - Apartments
Dark - Townhouses

NORTH (Blue)
Light - #deebf7
Medium - #9ecae1
Dark - #3182bd

CENTRAL (Green)
Light - #e5f5e0
Medium - #a1d99b
Dark - #31a354

SOUTH (Orange)
Light - #fee6ce
Medium - #fdae6b
Dark - #e6550d

*/

@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/DroidSans.eot');
  src: url('fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidSans.woff2') format('woff2'),
       url('fonts/DroidSans.woff') format('woff'),
       url('fonts/DroidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/DroidSans-Bold.eot');
  src: url('fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidSans-Bold.woff2') format('woff2'),
       url('fonts/DroidSans-Bold.woff') format('woff'),
       url('fonts/DroidSans-Bold.ttf') format('truetype');
}


body {
    font-family: 'Droid Sans', 'Open Sans', sans-serif;
    background-color: #C9C9C9;
}

.centered {
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato, 'Open Sans', sans-serif;
    font-size: 13px;
}

/*
NORTH (Blue)
Light - #deebf7
Medium - #9ecae1
Dark - #3182bd
*/
.North.data-line.det{
    stroke: #deebf7;
}

.North.data-line.apt{
    stroke: #9ecae1;
}

.North.data-line.townh{
    stroke: #3182bd;
}

/*
CENTRAL (Green)
Light - #e5f5e0
Medium - #a1d99b
Dark - #31a354
*/
.Central.data-line.det{
    stroke: #e5f5e0;
}

.Central.data-line.apt{
    stroke: #a1d99b;
}

.Central.data-line.townh{
    stroke: #31a354;
}

/*
SOUTH (Orange)
Light - #fee6ce
Medium - #fdae6b
Dark - #e6550d
*/
.South.data-line.det{
    stroke: #fee6ce;
}

.South.data-line.apt {
    stroke: #fdae6b;
}

.South.data-line.townh {
    stroke: #e6550d;
}

.North {
    stroke: #3182bd;
    color: #3182bd;
}

.Central {
    stroke: #31a354;
    color: #31a354;
}

.South {
    stroke: #e6550d;
    color: #e6550d;
}


.data-line:hover, .data-line:active {
    stroke: black;
    stroke-width: 5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
