div.svg-container {
  text-align: center;
}

svg {
  border: thin solid #ccc;
  margin: 0 auto;
}
/* Each line is a 'tick' */
path.domain, line {
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
}

rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

rect:hover {
	fill: red;
}

.orange {
	fill: #BD6B16;
}

.blue { 
	fill: #49449E;
}

.green {
	fill: #368A55;
}