.centered {
    width: 100%;
    text-align: center;
}
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato, 'Open Sans', sans-serif;
    font-size: 13px;
}

.data-line.apt {
    stroke: blue;
}

.data-line.townh {
    stroke: red;
}

.data-line.det {
    stroke: green;
}


.data-line:hover, .data-line:active {
    stroke: black;
    stroke-width: 5;
}