/*
== Colour Guide ==
http://colorbrewer2.org/

Light - Detached Homes
Medium - Apartments
Dark - Townhouses

NORTH (Blue)
Light - #deebf7
Medium - #9ecae1
Dark - #3182bd

CENTRAL (Green)
Light - #e5f5e0
Medium - #a1d99b
Dark - #31a354

SOUTH (Orange)
Light - #fee6ce
Medium - #fdae6b
Dark - #e6550d

*/

@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/DroidSans.eot');
  src: url('fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidSans.woff2') format('woff2'),
       url('fonts/DroidSans.woff') format('woff'),
       url('fonts/DroidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/DroidSans-Bold.eot');
  src: url('fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidSans-Bold.woff2') format('woff2'),
       url('fonts/DroidSans-Bold.woff') format('woff'),
       url('fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/OpenSans-Regular.eot');
  src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Regular.woff2') format('woff2'),
       url('fonts/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/OpenSans-Bold.eot');
  src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Bold.woff2') format('woff2'),
       url('fonts/OpenSans-Bold.woff') format('woff'),
       url('fonts/OpenSans-Bold.ttf') format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E4E4E4;

    line-height: 2;
}

h2.graph-title {
  margin: 3rem auto;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem auto;
}

h3 {
  color: #777;
}

h3.centered {
  color: #333;
}

a {
  transition: 300ms;
}

.centered {
  text-align: center;
}

.row.spaced {
  margin: 3rem auto;
}

a:hover, a:active {
  text-decoration: none;
  color: #e6550d;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato, 'Open Sans', sans-serif;
    font-size: 13px;
}

.grid .tick {
    stroke: black;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.data-line {
  stroke: #555;
}

.data-line.North, .North {
  stroke: #3182bd;
  color: #3182bd;
}
.dot.North circle {
  fill: #3182bd;
}

.data-line.Central, .Central {
  stroke: #31a354;
  color: #31a354;
}
.dot.Central circle {
  fill: #31a354;
}

.data-line.South, .South {
  stroke: #e6550d;
  color: #e6550d;
}
.dot.South circle {
  fill: #e6550d;
}

.dot circle {
  transition: 200ms;
}

.dot circle:hover {
  fill: red;
}


/* Bar Graph Colours */
/*
dark red - #ca0020
salmon - #f4a582
baby blue - #92c5de
deep blue - #0571b0
*/

rect {
  transition: 200ms;
}

rect.income:hover, rect.hpi:hover {
  fill: #f4a582;
}

rect.income {
  fill: #0571b0;
}

rect.hpi {
  fill: #ca0020;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
